#header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav i {
    color: black;
}

i {
    color: red;
}

#footer {
    width: 100%;
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foot {
    display: flex;
    justify-content: space-around;
}

.email {
    width: 100px;
    height: 80px;
    padding: 10px;
    border: 1 solid px whitesmoke;
    border-radius: 250px;
    background-color: white;
}

.brands {
    text-align: center;
}